<nav class="navbar navbar-expand-lg bg-primary mb-5" data-bs-theme="dark">
    <div class="container">
        <a class="navbar-brand" href="/">Rekapager Demo</a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                       href="#"
                       id="navbarDropdown"
                       role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false">Pages</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for key, generator in pageable_generators.getPageableGenerators() %}
                            <li>
                                <a class="dropdown-item"
                                   href="{{ path('page' , {key: generator.key}) }}">{{ generator.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                       href="#"
                       id="navbarDropdown"
                       role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false">Batch</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for key, generator in pageable_generators.getPageableGenerators() %}
                            <li>
                                <a class="dropdown-item"
                                   href="{{ path('batch' , {key: generator.key}) }}">{{ generator.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="/console/" class="nav-link">Console</a>
                </li>
                <li class="nav-item">
                    <a href="/api/" class="nav-link">API</a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse" id="navbarLinks">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a target="_blank" href="https://github.com/rekalogika/rekapager" class="nav-link">GitHub</a>
                </li>
                <li class="nav-item">
                    <a target="_blank" href="https://rekalogika.dev/rekapager" class="nav-link">Docs</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
