{% extends "app/base.html.twig" %}

{% block content %}
    <p>Use the menu above to navigate to a page.</p>

    <p>Commit information:</p>

    <pre>{{ source('git.env') }}</pre>
{% endblock content %}
